header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: green;
}

footer {
  height: 10%;
  background-color: #272727;
  color: #eee;
}

button {
  border-radius: 10%;
  border-style: solid;
  border-color: gray;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#container {
  margin-top: 50px;
  height: 90%;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #1caff6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}